*
!/.coveragerc
!/.devcontainer/
!/.devcontainer/*
!tests/
!tests/*
!viseron/
!viseron/*
!manager.py
!docker/ffmpeg_wrapper
!docker/ffprobe_wrapper
!requirements.txt
!requirements_test.txt
!rootfs/
!frontend/
frontend/node_modules
frontend/build

**.pyc
