*
!/.coveragerc
!/.devcontainer/
!/.devcontainer/*
!tests/
!tests/*
!viseron/
!viseron/*
!manager.py
!docker/ffmpeg_wrapper
!docker/ffprobe_wrapper
!requirements.txt
!requirements_test.txt
!requirements-3.9.txt
!docker/azure-agent-start.sh
!docker/opencv-python-headless-setup.py
!docker/jetson-nano/opencv-tuple.patch
!rootfs/
!frontend/
frontend/node_modules
frontend/build

**.pyc
