## Ignore everything
*

## Include
# GitHub Workflows
!/.github
!/.github/*
!/.github/workflows
!/.github/workflows/*

# Azure Pipelines
!/azure-pipelines
!/azure-pipelines/*
!/azure-pipelines/templates
!/azure-pipelines/templates/*

# Dockerstuff
!/docker/
!/docker/Dockerfile*
!/docker/aarch64
!/docker/aarch64/Dockerfile*
!/docker/amd64
!/docker/amd64/Dockerfile*
!/docker/amd64-cuda
!/docker/amd64-cuda/Dockerfile*
!/docker/jetson-nano
!/docker/jetson-nano/Dockerfile*
!/docker/jetson-nano/patch_ffmpeg.sh
!/docker/rpi3
!/docker/rpi3/Dockerfile*
!/docker/yolov4*.cfg
!/rootfs/
!/rootfs/etc/
!/rootfs/etc/**
!/.dockerignore

# Tests
!/tests
!/tests/*
!/tests/config
!/tests/config/*

# Source
!/viseron
!/viseron/*
!/viseron/camera
!/viseron/camera/*
!/viseron/config
!/viseron/config/*
!/viseron/detector
!/viseron/detector/*
!/viseron/detector/darknet
!/viseron/detector/darknet/*
!/viseron/detector/deepstack
!/viseron/detector/deepstack/*
!/viseron/detector/edgetpu
!/viseron/detector/edgetpu/*
!/viseron/helpers
!/viseron/helpers/*
!/viseron/post_processors
!/viseron/mqtt
!/viseron/mqtt/*
!/viseron/post_processors
!/viseron/post_processors/*
!/viseron/post_processors/face_recognition
!/viseron/post_processors/face_recognition/*
!/viseron/post_processors/face_recognition/dlib
!/viseron/post_processors/face_recognition/dlib/*
!/viseron/post_processors/face_recognition/deepstack
!/viseron/post_processors/face_recognition/deepstack/*
!/viseron/watchdog
!/viseron/watchdog/*
!/viseron/webserver
!/viseron/webserver/*
!/viseron/webserver/assets
!/viseron/webserver/assets/*
!/requirements.txt
!/requirements_test.txt

# Repo
!/.flake8
!/.gitignore
!/.isort.cfg
!/.pre-commit-config.yaml
!/.pylintrc
!/codecov.yaml
!/LICENSE
!/README.md
