coverage===7.15.4
filelock==3.32.3
pre-commit==4.6.2
pylint==4.0.7
pylint-strict-informational==0.1
pylint-per-file-ignores==3.2.1
pytest==9.1.1
pytest-alembic==0.12.1
pytest-cov==7.1.0
pytest-mock==3.15.1
pytest-postgresql==8.1.0
pytest-sugar==1.1.1
pytest-timeout==2.4.0
pytest-xdist==3.8.0
pytest-testinfra==10.2.2
docker==7.2.0
vulture==2.16

# The following libraries has to be kept in sync with .pre-commit-config.yaml
ruff==0.16.4
autoflake==2.3.3
codespell==2.4.3
flake8==7.3.0
flake8-comprehensions==3.17.0
flake8-docstrings==1.7.0
flake8-noqa==1.5.0
mccabe==0.7.0
mypy==2.3.1
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
pyupgrade==3.21.2

# types
types-aiofiles
types-croniter
types-requests==2.33.0.20260712
types-psutil
types-psycopg2
types-python-slugify
types-PyYAML
types-pytz
pygobject-stubs==2.16.0
