apscheduler==3.6.3
deepstack-python==0.8
colorlog==5.0.1
face_recognition==1.3.0
imutils==0.5.3
numpy==1.21.0
paho-mqtt==1.5.0
path.py==12.4.0
python-slugify==4.0.1
PyYAML==5.3.1
scikit-learn==0.24.2
tenacity==7.0.0
tornado
voluptuous==0.11.7
