{% extends "layout.html" %}
{% block title %}Settings{% end %}
{% block content %}
<h1 class="title">Settings</h1>
<form id="settings" name="settings" method="post" action="/ui/settings">
      <div class="field">
        <label class="label">config.yaml</label>
        <div class="control">
          <textarea id="config" name="config" class="textarea is-family-monospace" placeholder="Textarea" rows="20">{{ config }}</textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button" />
        </div>
        <div class="control">
          <input type="reset" class="button is-light" />
        </div>
      </div>
</form>
{% end %}