/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 3rem;
  color: #ffffff;
}

.heroTagline {
  font-size: 1.4rem;
  color: #ffffff;
}

.heroLogo {
  max-height: 16em;
}

.heroText {
  color: #ffffff;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroTitle {
    font-size: 2.4rem;
  }

  .heroTagline {
    font-size: 1rem;
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
