{% extends "layout.html" %}
{% block title %}About{% end %}
{% block content %}
<h1 class="title">Viseron - Self-hosted NVR with object detection</h1>
<h2 class="subtitle">Version: {{ version }}</h2>
<div class="content">
    <p>Home: <a href="https://github.com/roflcoopter/viseron" target="_blank">https://github.com/roflcoopter/viseron</a></p>
    <p>
        <h3 class="title is-3">Powered by</h3>
        <ul>
            <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
            <li><a href="https://www.ffmpeg.org/" target="_blank">FFmpeg</a></li>
            <li><a href="http://dlib.net/" target="_blank">Dlib</a></li>
            <li><a href="https://www.deepstack.ai/" target="_blank">DeepStack</a></li>
            <li><a href="https://opencv.org/" target="_blank">OpenCV</a></li>
            <li><a href="https://www.eclipse.org/paho/index.php" target="_blank">Paho MQTT</a></li>
            <li><a href="https://www.tornadoweb.org/" target="_blank">Tornado</a></li>
            <li><a href="https://bulma.io/" target="_blank">Bulma</a></li>
            <li><a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple-DataTables</a></li>
            <li>And more...</li>
        </ul>
    </p>
</div>
{% end %}