html,
body {
  height: 100%;
}

#root {
  height: calc(
    100% - 179px
  ); /* 159 = Height of footer (135) + elements inside */
  display: flex;
  flex-direction: column;
}

:root {
  --toastify-toast-min-height: 0px;
  --toastify-font-family: "Roboto","Helvetica","Arial",sans-serif;
  --toastify-icon-color-info: #fff;
  --toastify-icon-color-success: #fff;
  --toastify-icon-color-warning: #fff;
  --toastify-icon-color-error: #fff;
  --toastify-color-info: #0288d1;
  --toastify-color-success: #388e3c;
  --toastify-color-warning: #f57c00;
  --toastify-color-error: #d32f2f;
}

.Toastify__toast {
  min-height: "0px";
}

.Toastify__close-button {
  align-self: auto;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 1000ms, transform 1000ms;
}

.page-exit {
  opacity: 0;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 1000ms, transform 1000ms;
}