
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  max-height: 90px;
  max-width: 200px;
}

@media only screen and (max-width: 600px) {
  .header img {
    display: none;
  }
}
